name: Publish

on:
  # allow to manually run this workflow
  workflow_dispatch:
  # run when new version tag is pushed
  push:
    tags:
      - 'v*'
  # run on published release. this will not trigger, when release draft is created
  release:
    types: 
      - published

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
        # use fresh install
      - name: Install dependencies
        run: npm ci
        # build modules with microbundle
      - name: Build
        run: npm run build
        # copy necessary files to dist folder
      - name: Copy Cadence files
        run: npm run copy-cadence-source
        # publish package to npm registry using token
      - name: Publish to NPM
        run: npm run publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
